.calendarViewCustomTable td {
    text-align          : center;
}

.calendarViewCustomTable {
    margin-bottom       : 0 !important;
}

.accordion .panel-body {
    padding             : 0;
}



.calendarViewSmallInput {
    width               : 50px;
    border              : none;
}

.calendarViewTableTextArea {
    border              : none;
    margin              : 0;
    height              : 100%;
    width               : 100%;
}

.calendarViewTableTextAreaTD {
    padding             : 5px;
}